.pumpkinButton{

    background-color: #499F68;

}

.pumpkinButton:hover{

    background-color: #75c191;

}

.timerButton{

    background-color: #D0C4DF;

}

.timerButton:hover{

    background-color: #bda5da;

}

html{

    background-color: #7D6D61;
    color: #df931a;

}

.main{

    background-color: #5E574D;

}